<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>com.leanzero.link-log-rotate</string>
  <key>ProgramArguments</key><array><string>/bin/sh</string><string>/Users/workhorse/Projects/goose/leanzero-link/worker/ops/rotate-link-log.sh</string></array>
  <key>StartCalendarInterval</key><dict><key>Hour</key><integer>3</integer><key>Minute</key><integer>17</integer></dict>
  <key>StandardOutPath</key><string>/Users/workhorse/.leanzero/link-log-rotate.out</string>
  <key>StandardErrorPath</key><string>/Users/workhorse/.leanzero/link-log-rotate.out</string>
</dict></plist>
